*.out
*.xcodeproj
*.txt
*.DS_Store
*.pt
*.50MB
*.100MB
*.1024MB
*.pt
*.bin
*.idx
*dSYM
*.py
ipmt
lz78
sa
bs
lzw
PCC2/testes/*
!PCC2/bin/ipmt
!PCC2/README.txt

PCC2/lz782.cpp

PCC2/src/english.10MB

PCC2/src/proteins.10MB

PCC2/src/proteins.25MB

PCC2/src/sarray

PCC2/src/sarraynovo
